.eventLink {
    text-decoration: none;
}

.eventCard {
    background-color: #fc966e;
    padding: 4%;
    border-radius: 5px;
}


.eventCard h4 {
    font-size: 34px;
    font-weight: bold;
    color: rgb(44, 45, 46);
}

.eventCard p {
    color: rgb(44, 45, 46);
}

.eventCard:hover {
    font-size: 110%;
}