.homeIntro {
    padding: 3% 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

span {
    color: #a65000;
    cursor: text;
}

.homeIntro h2 {
    font-size: 42px;
}

.homeIntro p {
    font-size: 20px;
}

@media screen and (max-width: 575px) {
    .homeIntro {
        padding: 6%;
    }
}