.friendLink {
    text-decoration: none;
}

.friendCard {
    width: 100%;
    text-align: center;
    background-color: rgba(228,136,96, 0.4);
    border-radius: 5px;
}

.friendCard h4 {
    font-size: 20px;
    color: rgb(43, 41, 41);
}

.addFriendBtn:hover {
    color: rgba(228,136,96, 1);
    cursor: pointer;
}

.addFriendDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
    background-color: rgba(228,136,96, 0.1);
    border-radius: 10px;
    margin: 0 auto;
    width: 98%;
}
.addFriendDiv form {
    width: 90%;
}

.addFriendDiv form input{
    border: 1px solid black;
    padding: 0% 2%;
    border-radius: 5px;
}

.friendAddCard {
    width: 100%;
    text-align: center;
    background-color: rgb(153, 219, 255);
    border-radius: 5px;
}

.friendAddCard h4 {
    font-size: 20px;
    color: rgb(43, 41, 41);
    margin: 0;
}