.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120px;
    background-color: black;
    position: absolute;
    width: 100%;
}

.footer p {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px;
}

.footerLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Link {
    height: 35px;
    width: 35px;
    color: white;
    margin: 0 5px;
}

.Link:hover {
    color: rgba(228,136,96, 1);
    transition: all 0.3s ease-in-out;
}